<% title "Find Locals" %>

<div class="container" style="height: 550px; background-image: url(/assets/cover/DSC_0078a.jpg); background-size: 100%;">
	<!--<div class="span2" style="margin-top: 500px; vertical-align: bottom; color: #fff5e6;">
		<p><small> At a typical roadside Mamak stall in Kuala Lumpur, Malaysia </small></p>
	</div>-->
	<div class="row">
		<div class="span6 offset4">
			<img src="/assets/graphics/coming-soon.png">
			<h4>Hello! You caught us before we’re ready. </br></br>
				We’re working hard to put the finishing touches onto HungryHippie. Things are going well and it should be ready to help you find local food very soon. </br></br>
				Drop us an email if you’d like us to send you a </br>reminder when we’re ready.
			</h4>
			<form action="http://nomnomnom.createsend.com/t/t/s/mykh/" method="post" id="subForm">
				<div class="control-group" >
					<label class="control-label" for="name"></label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-user"></i></span>
						<input type="text" name="cm-name" id="name" placeholder="Name"/>
							</div>
						</div>
					<label class="control-label" for="mykh-mykh"></label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input type="text" name="cm-mykh-mykh" id="mykh-mykh" placeholder="Email">
							</div>
						</div>
					</br>
					<button type="submit" class="btn btn-large btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container" style="border-top: 8px solid #fff5e6; background-color: #fff5e6; margin-bottom: 20px;">
	<div class="row">
		<div class="span12 center">
			<h1>Sharing Our Favourite Local Food</h1>
			<p style="text-align: center;">Meanwhile, here are some local food hosts that have already signed up on HungryHippie.</p>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
			<div class="span3 offset1 thumbnail">
				<img src="/assets/host/ng-su-yun.jpg" class="img-circle host-pic">
				<h2>Ng Su Yun</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Singapore</span>
				</br><h3><i class="icon-thumbs-up"></i> Singapore Chilli Crab</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/mathias-vanluchene.jpg" class="img-circle host-pic">
				<h2>Mathias Vanluchene</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Ghent, Belgium</span>
				</br><h3><i class="icon-thumbs-up"></i> Moules Frites</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/jun-lim.jpg" class="img-circle host-pic">
				<h2>Jun Lim</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Kuala Lumpur, Malaysia</span>
				</br><h3><i class="icon-thumbs-up"></i> Wan Tan Noodles</h3>
			</div>
	</div>
	<div class="row" style="margin-top: 20px;">
			<div class="span3 offset1 thumbnail">
				<img src="/assets/host/kevin-hoong.jpg" class="img-circle host-pic">
				<h2>Kevin Hoong</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Kuala Lumpur, Malaysia</span>
				</br><h3><i class="icon-thumbs-up"></i> Bak Kut Teh</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/oscar-aguayo.jpg" class="img-circle host-pic">
				<h2>Oscar Claramunt Aguayo</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Barcelona, Spain</span>
				</br><h3><i class="icon-thumbs-up"></i> Paella</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/vikraman-selvaraja.jpg" class="img-circle host-pic">
				<h2>Vikraman Selvaraja</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Tasmania, Australia</span>
				</br><h3><i class="icon-thumbs-up"></i> Tasmanian Cheese Platter</h3>
			</div>
	</div>
	<div class="row" style="margin-top: 20px;">
			<div class="span3 offset1 thumbnail">
				<img src="/assets/host/ewelina-koreck.jpg" class="img-circle host-pic">
				<h2>Ewelina Korecka</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Poznan, Poland</span>
				</br><h3><i class="icon-thumbs-up"></i> Pierogi (traditional polish dumplings)</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/marisha-naz.jpg" class="img-circle host-pic">
				<h2>Marisha Naz</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Kuala Lumpur, Malaysia</span>
				</br><h3><i class="icon-thumbs-up"></i> Roti Tissue</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/matthieu-louis.jpg" class="img-circle host-pic">
				<h2>Matthieu Louis</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> United Kingdom</span>
				</br><h3><i class="icon-thumbs-up"></i> Oxford University dining hall</h3>
			</div>
	</div>
	<div class="row" style="margin-top: 20px;">
			<div class="span3 offset1 thumbnail">
				<img src="/assets/host/dan-watson.jpg" class="img-circle host-pic">
				<h2>Dan Watson</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Auckland, New Zealand</span>
				</br><h3><i class="icon-thumbs-up"></i> Fish and Chips</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/simon-van-der-jagt.jpg" class="img-circle host-pic">
				<h2>Simon van der Jagt</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Delft, Netherlands</span>
				</br><h3><i class="icon-thumbs-up"></i> Haring</h3>
			</div>
			<div class="span3 thumbnail">
				<img src="/assets/host/edwin-li.jpg" class="img-circle host-pic">
				<h2>Edwin Li</h2>
				<span class="label label-info"><i class="icon-map-marker icon-white"></i> Petaling Jaya, Malaysia</span>
				</br><h3><i class="icon-thumbs-up"></i> Roasted Duck Rice</h3>
			</div>
	</div>
	<div class="row" style="margin-top: 20px;">
			<div class="span4 offset4 center">
				<a href="./host.html" class="btn btn-large btn-primary"><i class="icon-map-marker icon-white"></i> Be a Host</a>
			</div>
	</div>
</div>
<div class="container" style="height: 350px; background-image: url(/assets/cover/IMG_1592.JPG); background-size: 100%;">
	<div class="row">
		<div class="span7 pull-right">
			<h4 style="font-size: 1.5em;"><strong>Sign up</strong> to be notified </br>when we launch!
			</h4>
			<form action="http://nomnomnom.createsend.com/t/t/s/mykh/" method="post" id="subForm">
				<div class="control-group" >
					<label class="control-label" for="name"></label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-user"></i></span>
						<input type="text" name="cm-name" id="name" placeholder="Name"/>
							</div>
						</div>
					<label class="control-label" for="mykh-mykh"></label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input type="text" name="cm-mykh-mykh" id="mykh-mykh" placeholder="Email">
							</div>
						</div>
					</br>
					<button type="submit" class="btn btn-large btn-primary">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
    mixpanel.track("Find Local page")
</script>