<% title "Find Locals" %>

<div class="container" style="background-color: #fff5e6;">
	<div class="row">
		<div class="span6 offset4">
			<ul class="nav nav-pills">
				<li class="active">
				<a href="#kuala-lumpur">Kuala Lumpur</a>
				</li>
				<li><a href="#london">London</a></li>
				<li><a href="#hong-kong">Hong Kong</a></li>
			</ul>
		</div>
	</div>
	<div class="row" name="kuala-lumpur">
		<div class="span4">
			<div class="thumbnail" style="border: 4px;">
				<img src="/assets/host/kevin-hoong.jpg" class="img-circle host-pic">
				<h2>Kevin Hoong</h2>
				</br><h3><i class="icon-thumbs-up"></i>Ampang Yong Tau Foo</h3>
			</div>
		</div>
		<div class="span4">
			<div class="thumbnail" style="border: 4px;">
				<img src="/assets/host/kevin-hoong.jpg" class="img-circle host-pic">
				<h2>Kevin Hoong</h2>
				<h3><i class="icon-thumbs-up"></i>Ampang Yong Tau Foo</h3>
				<a href="../find_local.html" class="btn btn-success" type="button"><i class=""></i> Buy Kevin a meal! </a>
			</div>
		</div>
		<div class="span4">
			<div class="thumbnail" style="border: 4px;">
				<img src="/assets/host/kevin-hoong.jpg" class="img-circle host-pic">
				<h2>Kevin Hoong</h2>
				</br><h3><i class="icon-thumbs-up"></i>Ampang Yong Tau Foo</h3>
			</div>
		</div>
	</div>
		<%= link_to "Back", :back %>
</div>

<script type="text/javascript">

    mixpanel.track("Find Local page")
</script>