<div class="container">
	<div class="span12" style="background-image: url(/assets/graphics/world-map.png); background-repeat: no-repeat; margin-left: none; margin-right: none; background-position: 50% 50%;">
		<div class="row" style="padding: 25px 0 50px;">
			<div class="span6 center" style="padding-top: 40px;">
				<img src="/assets/graphics/be-a-host.png">
			</div>
			<div class="span6">
				<div class="ss-form-container">
					<div class="ss-form-heading"><h1>Be A HungryHippie Host</h1></div>
					<p></p>
					<div><p>Want to bring HungryHippie to your home country?</p>
						<p>The website is still in beta mode, for security and validation purpose please complete this form.
						We'll contact you before we put your profile up online. Invitation only, each member is hand-picked!</p></div>
					<div class="ss-required-asterisk">* Required</div>
				</div>

					<form action="https://docs.google.com/spreadsheet/formResponse?formkey=dGgxQXNOT1V6dXplN2tlU1ppSmxOcWc6MQ&amp;ifq" method="POST" id="ss-form">
			<!--
			<script type="text/javascript">var submitted=false;</script>
			<iframe name="hidden_iframe" id="hidden_iframe"
			style="display:none;" onload="if(submitted)
			{window.location='http://www.google.com';}"></iframe>
			<form action="https://docs.google.com/spreadsheet/formResponse?formkey=dGgxQXNOT1V6dXplN2tlU1ppSmxOcWc6MQ&amp;ifq" method="post"
			target="hidden_iframe" onsubmit="submitted=true;">
			-->
				<br>
					<div class="errorbox-good">
					<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
					<label class="ss-q-title" for="entry_0">Name
					<span class="ss-required-asterisk">*</span></label>
					<label class="ss-q-help" for="entry_0"></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span>
					<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0" placeholder="First name / Last name">
						</div>
					</div>
					</div></div></div>
				<br> 
					<div class="errorbox-good">
					<div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Email
					<span class="ss-required-asterisk">*</span></label>
					<label class="ss-q-help" for="entry_1"></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope"></i></span>
					<input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div></div></div>
				<br> 
					<div class="errorbox-good">
					<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Place of Residence
					</label>
					<label class="ss-q-help" for="entry_2"></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-home"></i></span>
					<input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2" placeholder="Country"></div></div></div></div></div>
					<div class="errorbox-good">
					<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">
					</label>
					<label class="ss-q-help" for="entry_4"></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-map-marker"></i></span>
					<input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4" placeholder="City / Town"></div></div></div></div></div>
				<br> 
					<div class="errorbox-good">
					<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">Your favourite dish you would like to host
					</label>
					<label class="ss-q-help" for="entry_6"></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-star"></i></span>
					<input type="text" name="entry.6.single" value="" class="ss-q-short" id="entry_6"></div></div></div></div></div>
				<br>
				<input type="hidden" name="pageNumber" value="0">
				<input type="hidden" name="backupCache" value="">


				<div class="ss-item ss-navigate"><div class="ss-form-entry">
				<input type="submit" name="submit" value="Submit" class="btn btn-primary"></div></div></form>
						<script type="text/javascript">
						      (function() {
						var divs = document.getElementById('ss-form').
						getElementsByTagName('div');
						var numDivs = divs.length;
						for (var j = 0; j < numDivs; j++) {
						if (divs[j].className == 'errorbox-bad') {
						divs[j].lastChild.firstChild.lastChild.focus();
						return;
						}
						}
						for (var i = 0; i < numDivs; i++) {
						var div = divs[i];
						if (div.className == 'ss-form-entry' &&
						div.firstChild &&
						div.firstChild.className == 'ss-q-title') {
						div.lastChild.focus();
						return;
						}
						}
						})();
						      </script>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    mixpanel.track("Be A Host Page")
</script>