<div class="container">
		<div class="row span12" style="text-align: center;">
			<h1>A complete travel experience – dining with the locals.</h1>
		</div>
	<div class="span12">
		<div class="row span11" style="padding: 50px 0px 50px;">
			<div class="span3 offset1 center">
					<img src="/assets/graphics/HungryHippie_1.png">
					<h1>Search for Locals.</h1>
					<p>Find locals to host you a meal according to your preference of budget, location and appetite.
					</p>
			</div>
			<div class="span3 center">
					<img src="/assets/graphics/HungryHippie_2.png">
					<h1>Contact host and buy him/her a meal.</h1>
					<p>Reserve & pay for your local food tour with your host. 
					</br>Arrange a pick up or meeting point with your local food host.
					</p>
			</div>
			<div class="span3 center">
					<img src="assets/graphics/HungryHippie_3.png">
					<h1>Meet new friends and enjoy local food.</h1>
					<p>Get a taste of local experience, your host gets a free meal - 
					it's a win-win.
					</p>
			</div>
		<div class="row span11" style="padding: 50px 0px 0px;">
			<div class="center">
			<a href="./find-local.html" class="btn btn-large btn-primary" type="button"><i class="icon-search icon-white"></i> Find Locals Near You </a>
			</div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    mixpanel.track("Landing Page Loaded")
</script>