@import "bootstrap";

/*- Hungry Hippie -*/

body {
  background-color: #fff5e6;
}

.container {
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  text-align: center;
}

.ss-required-asterisk {
  color: #ff4c0e;
}

.thumbnail {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  border: 5px;
}

.host-pic {
  width: 150px;
}

.label-info {
  background-color: #1685e6;
}

.label-important {
  background-color: #ff4c0f;
}

h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  color: #013946;
  font-size: 1.3em;
  line-height: 1.2em;
}

h2 {
  /*-host name-*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
  color: #013946;
  font-size: 1.1em;
  line-height: 1.2em;
}

h3 {
  /*-food name-*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  color: #ff4c0f;
  font-size: 1em;
  line-height: 1em;
}

h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 1.3em;
  text-shadow: 0px 2px 30px black;
}

h5 {
  font-family: Georgia, serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 2em;
  line-height: 1.3em;
  text-shadow: 0px 2px 30px black;
}

p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  text-align: left;
}

.label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
}

.btn {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
}

.btn-large {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
}
